<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view type="text/html">
	<h:head>
		<title>Airflight Management System</title>
	</h:head>

	<h:body>
		<ui:composition template="template/layout.xhtml">
			<ui:define name="center">
				<h:form prependId="false" id="growlForm">
					<p:growl id="growl" showDetail="false" />
				</h:form>
				<p:panel id="editorPanel">
					<h:form prependId="false" id="dataForm">
						<h:panelGrid columns="1" id="formGrid" toggleable="true"
							toggleSpeed="250">

							<h:outputLabel value="Booking Finished" />

						</h:panelGrid>
					</h:form>
				</p:panel>
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
</html>
