<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<f:view type="text/html">
	<body>
		<ui:composition template="template/layout.xhtml">
			<ui:define name="center">
				<h:form prependId="false" id="growlForm">
					<p:growl id="growl" showDetail="false" />
				</h:form>
				<h:form prependId="false" id="dataForm">
					<p:panel id="data" toggleable="true" toggleSpeed="250">
						<f:facet name="header">
							<h:outputText value="#{messages.label_payment}" />
						</f:facet>
						<h:outputFormat id="noRecordsFound"
							value="#{messages.label_no_records_found}"
							rendered="#{!paymentBean.dataVisible}">
							<f:param value="Payment" />
						</h:outputFormat>
						<p:dataTable id="list" value="#{paymentBean.payments}"
							var="payment" rendered="#{paymentBean.dataVisible}"
							resizableColumns="false" paginator="true"
							paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,25,50" rows="10">
							<p:column headerText="Payment Number">
								<h:outputText value="#{payment.paymentNumber}" />
							</p:column>
							<p:column headerText="Payment Date">
								<h:outputText value="#{payment.date}">
									<f:convertDateTime pattern="dd-MM-yyyy" />
								</h:outputText>
							</p:column>
							<p:column headerText="Amount">
								<h:outputText value="#{payment.amount}" />
							</p:column>
							<p:column headerText="Action">
								<p:commandButton icon="ui-icon-pencil" update=":form:formGrid"
									oncomplete="paymentDialog.show()">
									<f:setPropertyActionListener value="#{payment}"
										target="#{paymentBean.selectedPayment}" />
								</p:commandButton>
								<p:commandButton icon="ui-icon-trash" update=":form:formGrid"
									oncomplete="deleteDialog.show()">
									<f:setPropertyActionListener value="#{payment}"
										target="#{paymentBean.selectedPayment}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</p:panel>
					<p:panel>
						<p:commandLink value="#{messages.label_create}" action="create"
							update=":paymentEditor" oncomplete="paymentDialog.show()" />
					</p:panel>
				</h:form>

				<p:dialog id="paymentEditor" widgetVar="paymentDialog" modal="true"
					header="Payment Editor" visible="false">
					<p:ajax event="close" update=":dataForm:data"
						listener="#{paymentBean.onClose}" />
					<p:outputPanel id="editorPanel">
						<h:form id="form" enctype="multipart/form-data">
							<h:panelGrid columns="3" id="formGrid">
								<h:outputLabel for="paymentNumberInput" value="Payment Number :" />
								<h:inputText id="paymentNumberInput"
									value="#{paymentBean.selectedPayment.paymentNumber}"
									required="true" />
								<p:message for="paymentNumberInput" display="icon" />

								<h:outputLabel for="paymentDateInput" value="Payment Date :" />
								<p:calendar id="paymentDateInput" required="true"
									value="#{paymentBean.selectedPayment.date}"
									styleClass="calender" />
								<p:message for="paymentDateInput" display="icon" />
							</h:panelGrid>

							<p:panel id="passengerData" toggleSpeed="250">
								<f:facet name="header">
									<h:outputText value="Passenger" />
								</f:facet>
								<h:panelGrid columns="3" id="bookingGrid">
									<h:outputLabel for="firstNameInput" value="First Name* :" />
									<h:inputText id="firstNameInput" required="true" 
										value="#{paymentBean.firstName}" />
									<p:message for="firstNameInput" display="icon"/>
									
									<h:outputLabel for="lastNameInput" value="Last Name* :" />
									<h:inputText id="lastNameInput" required="true" 
										value="#{paymentBean.lastName}" />
									<p:message for="lastNameInput" display="icon"/>
									
									<p:commandLink value="#{messages.label_search}" action="searchBookingByPassenger"
										update=":form:bookingData :growlForm:growl" />
									<h:outputLabel value="Select Booking Code :" />
								</h:panelGrid>

								<p:panel id="bookingData" modal="true">
									<h:panelGrid id="bookingGridDetails">
										<p:dataTable id="bookingList"
											value="#{paymentBean.bookings}"
											var="booking" resizableColumns="false"
											paginator="true" rows="10"
											rowKey="#{booking.code}"
											selection="#{paymentBean.selectedBookings}"
											selectionMode="multiple">
											<p:column headerText="Code">
												<h:outputText value="#{booking.code}" />
											</p:column>
											<p:column headerText="Passengers">
												<h:outputText value="#{fn:length(booking.passengers)}" />
											</p:column>
											<p:column headerText="Total">
												<h:outputText value="#{booking.total}"/>
											</p:column>
										</p:dataTable>
									</h:panelGrid>
								</p:panel>

								<h:panelGrid columns="2">
									<p:commandButton id="okCommand" value="Ok"
										action="#{paymentBean.calculateAmount}"
										update="formGrid :form:dataAmount :growlForm:growl" />
								</h:panelGrid>
							</p:panel>

							<p:panel id="dataAmount" toggleSpeed="250">
								<f:facet name="header">
									<h:outputText value="Amount" />
								</f:facet>
								<h:panelGrid columns="3" id="amountGrid">
									<h:outputLabel value="Amount :" />
									<h:inputText id="amountInput"
										value="#{paymentBean.selectedPayment.amount}" required="true" />
									<p:message for="amountInput" display="icon" />
								</h:panelGrid>
							</p:panel>

							<p:commandButton id="completeCommand" value="Complete" 
								action="#{paymentBean.persist}"/>
							<p:commandButton id="btnCancel" value="Cancel"
								onclick="paymentDialog.hide()" type="button" />
						</h:form>
					</p:outputPanel>
				</p:dialog>

				<p:dialog id="searchPassengerEditor"
					widgetVar="searchPassengerDialog" modal="true"
					header="Search Passenger Editor" visible="false">
					<p:ajax event="close" update=":dataForm:data :form"
						listener="#{paymentBean.onClose}" />
					<p:outputPanel id="editorSeachPanel">
						<h:form id="formSearch" enctype="multipart/form-data">
							<h:panelGrid columns="2" id="formSearchGrid">
								<h:outputLabel for="firstNameInput" value="First Name :" />
								<h:inputText id="firstNameInput" value="#{paymentBean.searchPassenger.firstName}" />

								<h:outputLabel for="lastNameInput" value="Last Name :" />
								<h:inputText id="lastNameInput" value="#{paymentBean.searchPassenger.lastName}" />
							</h:panelGrid>
							<h:panelGrid>
								<p:commandButton id="viewCommand" value="View"
									icon="ui-icon-search" />
							</h:panelGrid>
							<p:panel>
								<p:dataTable id="passengerSearchs"
									value="#{paymentBean.passengers}"
									var="passenger" paginator="true" rows="10"
									selection="">
									<p:column headerText="First Name">
										<h:outputText value="#{passenger.firstName}" />
									</p:column>
									<p:column headerText="Last Name">
										<h:outputText value="#{passenger.lastName}" />
									</p:column>
									<p:column headerText="Address">
										<h:outputText value="#{passenger.address}" style="" />
									</p:column>
								</p:dataTable>
							</p:panel>
							<p:commandButton id="submitCommand" value="Submit" />
							<p:commandButton id="cancelCommand" value="Cancel"
								onclick="searchPassengerDialog.hide()" type="button" />
						</h:form>
					</p:outputPanel>
				</p:dialog>
			</ui:define>
		</ui:composition>
	</body>
</f:view>
</html>
