<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view type="text/html">
	<h:head>
		<title>Airflight Management System</title>
	</h:head>

	<h:body>
		<ui:composition template="template/layout.xhtml">
			<ui:define name="center">
				<h:form prependId="false" id="growlForm">
					<p:growl id="growl" showDetail="false" />
				</h:form>
				<h:form prependId="false" id="dataForm">
					<p:panel id="data" toggleable="true" toggleSpeed="250">
						<f:facet name="header">
							<h:outputText value="Booking" />
						</f:facet>
						<p:dataTable id="list" value="#{bookingBean.flightFareDataModel}"
							var="var" resizableColumns="false" paginator="true"
							selection="#{bookingBean.selectedFlightFare}"
							rendered="#{bookingBean.bookingType}">
					paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,25,50" rows="10">
					<p:column selectionMode="single" style="width:18px" />
							<p:column headerText="Departure">
								<h:outputText
									value="#{var.flightSchedule.departureAirport.location}" />
							</p:column>
							<p:column headerText="Arrival">
								<h:outputText
									value="#{var.flightSchedule.arrivalAirport.location}" />
							</p:column>
							<p:column headerText="Departure Time">
								<h:outputText value="#{var.flightSchedule.departureTime}" />
							</p:column>
							<p:column headerText="Class">
								<h:outputText value="#{var.fare.fareType.description}" />
							</p:column>
							<p:column headerText="Price">
								<h:outputText value="#{var.fare.oneWayFare}" />
							</p:column>


						</p:dataTable>

						<p:dataTable id="list2" value="#{bookingBean.flightFareDataModel}"
							var="var" resizableColumns="false" paginator="true"
							selection="#{bookingBean.selectedFlightFare2}"
							rendered="#{!bookingBean.bookingType}">
					paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,25,50" rows="10">
					<p:column selectionMode="single" style="width:18px" />
							<p:column headerText="Departure">
								<h:outputText
									value="#{var.flightSchedule.departureAirport.location}" />
							</p:column>
							<p:column headerText="Arrival">
								<h:outputText
									value="#{var.flightSchedule.arrivalAirport.location}" />
							</p:column>
							<p:column headerText="Departure Time">
								<h:outputText value="#{var.flightSchedule.departureTime}" />
							</p:column>
							<p:column headerText="Arival Time">
								<h:outputText value="#{var.flightSchedule.arrivalTime}" />
							</p:column>

							<p:column headerText="Class">
								<h:outputText value="#{var.fare.fareType.description}" />
							</p:column>
							<p:column headerText="Price">
								<h:outputText value="#{var.fare.returnFare}" />
							</p:column>


						</p:dataTable>


					</p:panel>
					<p:panel>
						<p:commandButton id="next" ajax="false" async="false" value="Next"
							action="#{bookingBean.passengerBooking}" />
					</p:panel>
				</h:form>
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
</html>
