<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view type="text/html">
	<h:body>
		<ui:composition template="template/layout.xhtml">
			<ui:define name="center">
				<h:form prependId="false" id="growlForm">
					<p:growl id="growl" showDetail="false" />
				</h:form>
				<h:form prependId="false" id="dataForm">

					<p:panel id="data" toggleable="true" toggleSpeed="250">
						<f:facet name="header">
							<h:outputText value="Fare" />
						</f:facet>
						<p:dataTable id="list" value="#{flightScheduleBean.fares}" var="fare"
							resizableColumns="false"
							paginator="true"
							paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,25,50" rows="10">
							<p:column headerText="Fare Type">
								<h:outputText value="#{fare.fareType.description}" />
							</p:column>
							<p:column headerText="One Way">
								<h:outputText value="#{fare.oneWayFare}" />
							</p:column>
							<p:column headerText="Return">
								<h:outputText value="#{fare.returnFare}" />
							</p:column>

							<p:column headerText="Action">
								<p:commandButton icon="ui-icon-pencil" update=":form:formGrid"
									oncomplete="fareDialog.show()">
									<f:setPropertyActionListener value="#{fare}"
										target="#{flightScheduleBean.selectedFare}" />
								</p:commandButton>
								<p:commandButton icon="ui-icon-trash" update=":form:formGrid"
									oncomplete="deleteDialog.show()">
									<f:setPropertyActionListener value="#{fare}"
										target="#{flightScheduleBean.selectedFare}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</p:panel>
					<p:panel>
						<p:commandButton id="addNew" value="#{messages.label_create}"
							onclick="fareDialog.show()"
							update=":form:formGrid :growlForm:growl" />
						<p:commandButton id="back" value="Back" async="false" ajax="false" action="#{flightScheduleBean.backToFlightSchedule}" />
					</p:panel>
				</h:form>
				<p:dialog id="fareEditor" widgetVar="fareDialog" modal="true"
					header="Fare Editor" visible="false">
					<p:ajax event="close" update=":dataForm:data"
						listener="#{flightScheduleBean.onCloseFare}" />
					<p:outputPanel id="editorPanel">
						<h:form id="form" enctype="multipart/form-data">
							<h:panelGrid columns="3" id="formGrid">

								<h:outputLabel for="fareTypeInput" value="Fare Type :" />
								<p:selectOneMenu id="fareTypeInput"
									value="#{flightScheduleBean.selectedFare.fareType}" effect="fade"
									converter="#{fareTypeConverter}">
									<f:selectItem itemLabel="Select One" itemValue="" />
									<f:selectItems value="#{flightScheduleBean.fareTypes}" var="fareType"
										itemLabel="#{fareType.description}" itemValue="#{fareType}" />
								</p:selectOneMenu>
								<p:message for="fareTypeInput" display="icon" />


								<h:outputLabel for="oneWayFareInput" value="One Way :" />
								<h:inputText id="oneWayFareInput" required="false"
									value="#{flightScheduleBean.selectedFare.oneWayFare}" />
								<p:message for="oneWayFareInput" display="icon" />

								<h:outputLabel for="returnFareInput" value="Return :" />
								<h:inputText id="returnFareInput" required="false"
									value="#{flightScheduleBean.selectedFare.returnFare}" />
								<p:message for="returnFareInput" display="icon" />

							</h:panelGrid>
							<p:commandButton id="btnSave" value="#{messages.label_save}"
								action="#{flightScheduleBean.persistFare}"
								update="formGrid :dataForm:data :growlForm:growl" />
							<p:commandButton id="btnClose" value="#{messages.label_close}"
								onclick="fareDialog.hide()" type="button" />
						</h:form>
					</p:outputPanel>
				</p:dialog>
				<p:confirmDialog id="deleteEditor" widgetVar="deleteDialog"
					message="#{messages.label_delete_record}"
					header="#{messages.label_confirm_delete}">
					<p:outputPanel id="deletePanel">
						<h:form id="deleteForm">
							<p:commandButton id="deleteYesButton"
								value="#{messages.label_yes}" action="#{flightScheduleBean.deleteFare}"
								update=":dataForm:data :growlForm:growl"
								oncomplete="deleteDialog.hide()" />
							<p:commandButton id="deleteNoButton" value="#{messages.label_no}"
								onclick="deleteDialog.hide()" />
						</h:form>
					</p:outputPanel>
				</p:confirmDialog>
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
</html>
