<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view type="text/html">
	<h:body>
		<ui:composition template="template/layout.xhtml">
			<ui:define name="center">
				<h:panelGroup>
					<h:form prependId="false" id="growlForm">
						<p:growl id="growl" showDetail="false" />
					</h:form>
					<h:form prependId="false" id="dataForm">
						<p:panel id="data" toggleable="true" toggleSpeed="250">
							<f:facet name="header">
								<h:outputText value="#{messages.label_fare_type}" />
							</f:facet>
							<p:dataTable id="list" value="#{fareTypes}"
								var="fareType"
								resizableColumns="false" paginator="true"
								paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,25,50" rows="10">
								<p:column headerText="Ticket Class">
									<h:outputText value="#{fareType.ticketClass.description}" />
								</p:column>
								<p:column headerText="Fare Type">
									<h:outputText value="#{fareType.description}" />
								</p:column>
								<p:column headerText="Action">
									<p:commandButton icon="ui-icon-pencil" update=":form:formGrid"
										oncomplete="fareTypeDialog.show()">
										<f:setPropertyActionListener value="#{fareType}"
											target="#{fareTypeBean.selectedFareType}" />
									</p:commandButton>
									<p:commandButton icon="ui-icon-trash" update=":form:formGrid"
										oncomplete="deleteDialog.show()">
										<f:setPropertyActionListener value="#{fareType}"
											target="#{fareTypeBean.selectedFareType}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
						</p:panel>
						<p:panel>
							<p:commandLink value="#{messages.label_create}" action="create"
								actionListener="#{fareTypeBean.create}"
								update=":fareTypeEditor" 
								oncomplete="fareTypeDialog.show()" />
						</p:panel>
					</h:form>

					<p:dialog id="fareTypeEditor" widgetVar="fareTypeDialog"
						modal="true" header="Fare Type Editor" visible="false">
						<p:ajax event="close" update=":dataForm:data"
							listener="#{fareTypeBean.onClose}" />
						<p:outputPanel id="editorPanel">
							<h:form id="form" enctype="multipart/form-data">
								<h:panelGrid columns="3" id="formGrid">
									<h:outputLabel for="ticketClassInput" value="Ticket Class * :" />
									<p:selectOneMenu id="ticketClassInput"
										value="#{fareTypeBean.selectedFareType.ticketClass}"
										effect="fade" converter="#{ticketClassConverter}">
										<f:selectItem itemLabel="Select One" itemValue="" />
										<f:selectItems value="#{ticketClasses}"
											var="ticketClass" itemLabel="#{ticketClass.description}"
											itemValue="#{ticketClass}" />
									</p:selectOneMenu>
									<p:message for="ticketClassInput" display="icon" />

									<h:outputLabel for="descInput" value="Description *:" />
									<h:inputText id="descInput" required="true"
										value="#{fareTypeBean.selectedFareType.description}" />
									<p:message for="descInput" display="icon" />
								</h:panelGrid>
								<p:commandButton id="btnSave" value="#{messages.label_save}"
									action="#{fareTypeBean.persist}"
									update="formGrid :dataForm:data :growlForm:growl" />
								<p:commandButton id="btnClose" value="#{messages.label_close}"
									onclick="fareTypeDialog.hide()" type="button" />
							</h:form>
						</p:outputPanel>
					</p:dialog>
					<p:confirmDialog id="deleteEditor" widgetVar="deleteDialog"
						message="#{messages.label_delete_record}"
						header="#{messages.label_confirm_delete}">
						<p:outputPanel id="deletePanel">
							<h:form id="deleteForm">
								<p:commandButton id="deleteYesButton"
									value="#{messages.label_yes}" action="#{fareTypeBean.delete}"
									update=":dataForm:data :growlForm:growl"
									oncomplete="deleteDialog.hide()" />
								<p:commandButton id="deleteNoButton"
									value="#{messages.label_no}" onclick="deleteDialog.hide()" update=":fareTypeEditor" />
							</h:form>
						</p:outputPanel>
					</p:confirmDialog>
				</h:panelGroup>
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
</html>
