<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="template/layout.xhtml">
	<ui:define name="center">
		<h:form prependId="false" id="growlForm">
			<p:growl id="growl" showDetail="false" />
		</h:form>
		<h:form prependId="false" id="dataForm">
			<p:panel>
				<h:panelGrid id="formGrid" columns="2">
					<p:selectOneMenu id="departureAirport"
						value="#{flightScheduleBean.departure}"
						converter="#{airportConverter}">
						<f:selectItem itemLabel="Select Departure" itemValue="" />
						<f:selectItems value="#{airports}" var="airport"
							itemLabel="#{airport.location}" itemValue="#{airport}" />
						<p:ajax update=":dataForm:data :growlForm:growl"/>
					</p:selectOneMenu>

					<p:selectOneMenu id="arrivalAirport"
						value="#{flightScheduleBean.arrival}"
						converter="#{airportConverter}">
						<f:selectItem itemLabel="Select Arrival" itemValue="" />
						<f:selectItems value="#{airports}" var="airport"
							itemLabel="#{airport.location}" itemValue="#{airport}" />
						<p:ajax update=":dataForm:data :growlForm:growl"/>
					</p:selectOneMenu>
				</h:panelGrid>
			</p:panel>
			<p:panel id="data" toggleable="true" toggleSpeed="250">
				<f:facet name="header">
					<h:outputText value="Flight Schedules" />
				</f:facet>
				<p:dataTable id="list" value="#{filteredFlightSchedules}"
					var="flightSchedule"
					resizableColumns="false" paginator="true"
					paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,25,50" rows="10"
					style="text-align:center;">
					<p:column headerText="Flight Number">
						<h:outputText value="#{flightSchedule.flightNumber}" />
					</p:column>
					<p:column headerText="Departure">
						<h:outputText value="#{flightSchedule.departureAirport.location}" />
						<br />
						<h:outputText value="#{flightSchedule.departureDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
						<br />
						<h:outputText value="#{flightSchedule.departureTime}">
							<f:convertDateTime pattern="HH:mm" />
						</h:outputText>
					</p:column>
					<p:column headerText="Arrival">
						<h:outputText value="#{flightSchedule.arrivalAirport.location}" />
						<br />
						<h:outputText value="#{flightSchedule.arrivalDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
						<br />
						<h:outputText value="#{flightSchedule.arrivalTime}">
							<f:convertDateTime pattern="HH:mm" />
						</h:outputText>
					</p:column>
					<p:column headerText="Action">
						<p:commandButton icon="ui-icon-pencil" update=":form:formGrid"
							oncomplete="flightScheduleDialog.show()">
							<f:setPropertyActionListener value="#{flightSchedule}"
								target="#{flightScheduleBean.selectedFlightSchedule}" />
						</p:commandButton>
						<p:commandButton icon="ui-icon-trash" update=":form:formGrid"
							oncomplete="deleteDialog.show()">
							<f:setPropertyActionListener value="#{flightSchedule}"
								target="#{flightScheduleBean.selectedFlightSchedule}" />
						</p:commandButton>
						<p:commandButton async="false" ajax="false" icon="ui-icon-trash"
							action="#{flightScheduleBean.showFare(flightSchedule)}" />
					</p:column>
				</p:dataTable>
			</p:panel>
			<p:panel>
				<p:commandButton value="#{messages.label_create}"
					action="#{flightScheduleBean.airportCheck}"
					update=":form:formGrid :growlForm:growl" />
			</p:panel>
		</h:form>

		<p:dialog id="flightScheduleEditor" widgetVar="flightScheduleDialog"
			modal="true" header="Flight Schedule Editor" visible="false">
			<p:ajax event="close" update=":dataForm:data"
				listener="#{flightScheduleBean.onClose}" />
			<p:outputPanel id="editorPanel">
				<h:form id="form" enctype="multipart/form-data">
					<h:panelGrid columns="3" id="formGrid">
						<h:outputLabel for="flightNumberInput" value="Flight Number :" />
						<h:inputText id="flightNumberInput"
							value="#{flightScheduleBean.selectedFlightSchedule.flightNumber}"
							required="true" />
						<p:message for="flightNumberInput" display="icon" />

						<h:outputLabel for="departureAirportInput" value="Departure :" />
						<p:selectOneMenu id="departureAirportInput"
							value="#{flightScheduleBean.selectedFlightSchedule.departureAirport}"
							converter="#{airportConverter}" required="true">
							<f:selectItem itemLabel="Select Departure" itemValue="" />
							<f:selectItems value="#{airports}"
								var="airport" itemLabel="#{airport.location}"
								itemValue="#{airport}" />
						</p:selectOneMenu>
						<p:message for="departureAirportInput" display="icon" />

						<h:outputLabel for="arrivalAirportInput" value="Arrival :" />
						<p:selectOneMenu id="arrivalAirportInput"
							value="#{flightScheduleBean.selectedFlightSchedule.arrivalAirport}"
							converter="#{airportConverter}" required="true">
							<f:selectItem itemLabel="Select Arrival" itemValue="" />
							<f:selectItems value="#{airports}"
								var="airport" itemLabel="#{airport.location}"
								itemValue="#{airport}" />
						</p:selectOneMenu>
						<p:message for="arrivalAirportInput" display="icon" />

						<h:outputLabel for="departureDateInput" value="Departure Date :" />
						<p:calendar id="departureDateInput" required="true"
							value="#{flightScheduleBean.selectedFlightSchedule.departureDate}"
							styleClass="calender" />
						<p:message for="departureDateInput" display="icon" />

						<h:outputLabel for="arrivalDateInput" value="Arrival Date :" />
						<p:calendar id="arrivalDateInput" required="true"
							value="#{flightScheduleBean.selectedFlightSchedule.arrivalDate}"
							styleClass="calender" />
						<p:message for="arrivalDateInput" display="icon" />

						<h:outputLabel for="departureTimeInput" value="*Departure Time:" />
						<p:calendar id="departureTimeInput" required="true"
							value="#{flightScheduleBean.selectedFlightSchedule.departureTime}"
							pattern="HH:mm" timeOnly="true" style="width:50%;" />
						<p:message for="departureTimeInput" display="icon" />

						<h:outputLabel for="arrivalTimeInput" value="*Arrival Time:" />
						<p:calendar id="arrivalTimeInput" required="true"
							value="#{flightScheduleBean.selectedFlightSchedule.arrivalTime}"
							pattern="HH:mm" timeOnly="true" style="width:50%;" />
						<p:message for="arrivalTimeInput" display="icon" />
					</h:panelGrid>

					<p:commandButton id="btnSave" value="#{messages.label_save}"
						action="#{flightScheduleBean.persist}"
						update="formGrid :dataForm:data :growlForm:growl" />
					<p:commandButton id="btnClose" value="#{messages.label_close}"
						onclick="flightScheduleDialog.hide()" type="button" />
				</h:form>
			</p:outputPanel>
		</p:dialog>

		<p:confirmDialog id="deleteEditor" widgetVar="deleteDialog"
			message="#{messages.label_delete_record}"
			header="#{messages.label_confirm_delete}">
			<p:outputPanel id="deletePanel">
				<h:form id="deleteForm">
					<p:commandButton id="deleteYesButton" value="#{messages.label_yes}"
						action="#{flightScheduleBean.delete}"
						update=":dataForm:data :growlForm:growl"
						oncomplete="deleteDialog.hide()" />
					<p:commandButton id="deleteNoButton" value="#{messages.label_no}"
						onclick="deleteDialog.hide()" />
				</h:form>
			</p:outputPanel>
		</p:confirmDialog>

	</ui:define>
</ui:composition>
</html>