<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="template/layout.xhtml">
	<ui:define name="center">
		<h:form prependId="false" id="growlForm">
			<p:growl id="growl" showDetail="false" />
		</h:form>
		<h:form prependId="false" id="dataForm">
			<p:panel id="data" toggleable="true" toggleSpeed="250">
				<f:facet name="header">
					<h:outputText value="Passenger" />
				</f:facet>
				<p:dataTable id="list" value="#{passengers}" var="passenger"
					resizableColumns="false" paginator="true"
					paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,25,50" rows="10">
					<p:column headerText="First Name">
						<h:outputText value="#{passenger.firstName}" />
					</p:column>
					<p:column headerText="Last Name">
						<h:outputText value="#{passenger.lastName}" />
					</p:column>
					<p:column headerText="Action">
						<p:commandButton icon="ui-icon-pencil" update=":form:formGrid"
							oncomplete="passengerDialog.show()">
							<f:setPropertyActionListener value="#{passenger}"
								target="#{passengerBean.selectedPassenger}" />
						</p:commandButton>
						<p:commandButton icon="ui-icon-trash" update=":form:formGrid"
							oncomplete="deleteDialog.show()">
							<f:setPropertyActionListener value="#{passenger}"
								target="#{passengerBean.selectedPassenger}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</p:panel>
			<p:panel>
				<p:commandLink value="#{messages.label_create}"
					action="#{passengerBean.create}"
					oncomplete="passengerDialog.show()" update=":passengerEditor" />
			</p:panel>
		</h:form>
		<p:dialog id="passengerEditor" widgetVar="passengerDialog"
			modal="true" header="Passenger Editor" visible="false">
			<p:ajax event="close" update=":dataForm:data"
				listener="#{passengerBean.onClose}" />
			<p:outputPanel id="editorPanel">
				<h:form id="form" enctype="multipart/form-data">
					<h:panelGrid columns="3" id="formGrid">
						<h:outputLabel for="firstNameInput" value="First Name * :" />
						<h:inputText id="firstNameInput" required="true"
							value="#{passengerBean.selectedPassenger.firstName}" />
						<p:message for="firstNameInput" display="icon" />

						<h:outputLabel for="lastNameInput" value="LastName :" />
						<h:inputText id="lastNameInput" required="false"
							value="#{passengerBean.selectedPassenger.lastName}" />
						<p:message for="lastNameInput" display="icon" />

						<h:outputLabel for="addressLine1" value="Address :" />
						<h:inputText id="addressLine1" required="false"
							value="#{passengerBean.selectedPassenger.address.addressLine1}" />
						<p:message for="addressLine1" display="icon" />

						<h:outputLabel for="addressLine2" value="" />
						<h:inputText id="addressLine2" required="false"
							value="#{passengerBean.selectedPassenger.address.addressLine2}" />
						<p:message for="addressLine2" display="icon" />

						<h:outputLabel for="city" value="City :" />
						<h:inputText id="city" required="false"
							value="#{passengerBean.selectedPassenger.address.city}" />
						<p:message for="city" display="icon" />

						<h:outputLabel for="state" value="State :" />
						<h:inputText id="state" required="false"
							value="#{passengerBean.selectedPassenger.address.state}" />
						<p:message for="state" display="icon" />

						<h:outputLabel for="pinCode" value="Pin Code :" />
						<h:inputText id="pinCode" required="false"
							value="#{passengerBean.selectedPassenger.address.pinCode}" />
						<p:message for="pinCode" display="icon" />

						<h:outputLabel for="phone1" value="Phone :" />
						<h:inputText id="phone1" required="false"
							value="#{passengerBean.selectedPassenger.address.phone1}" />
						<p:message for="phone1" display="icon" />

						<h:outputLabel for="phone2" value="" />
						<h:inputText id="phone2" required="false"
							value="#{passengerBean.selectedPassenger.address.phone2}" />
						<p:message for="phone2" display="icon" />

					</h:panelGrid>
					<p:commandButton id="btnSave" value="#{messages.label_save}"
						action="#{passengerBean.persist}"
						update="formGrid :dataForm:data :growlForm:growl" />
					<p:commandButton id="btnClose" value="#{messages.label_close}"
						onclick="passengerDialog.hide()" type="button" />
				</h:form>
			</p:outputPanel>
		</p:dialog>
		<p:confirmDialog id="deleteEditor" widgetVar="deleteDialog"
			message="#{messages.label_delete_record}"
			header="#{messages.label_confirm_delete}">
			<p:outputPanel id="deletePanel">
				<h:form id="deleteForm">
					<p:commandButton id="deleteYesButton" value="#{messages.label_yes}"
						action="#{passengerBean.delete}"
						update=":dataForm:data :growlForm:growl"
						oncomplete="deleteDialog.hide()" />
					<p:commandButton id="deleteNoButton" value="#{messages.label_no}"
						onclick="deleteDialog.hide()" update=":passengerEditor" />
				</h:form>
			</p:outputPanel>
		</p:confirmDialog>
	</ui:define>
</ui:composition>
</html>