<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="template/layout.xhtml">
	<ui:define name="center">
		<h:panelGroup>
			<h:form prependId="false" id="growlForm">
				<p:growl id="growl" showDetail="false" />
			</h:form>
			<h:form prependId="false" id="dataForm">
				<p:panel id="data" toggleable="true" toggleSpeed="250">
					<f:facet name="header">
						<h:outputText value="Ticket Class" />
					</f:facet>
					<p:dataTable id="list" value="#{ticketClasses}" var="ticket"
						resizableColumns="false" paginator="true"
						paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,25,50" rows="10">
						<p:column headerText="Code">
							<h:outputText value="#{ticket.code}" />
						</p:column>
						<p:column headerText="Description">
							<h:outputText value="#{ticket.description}" />
						</p:column>
						<p:column headerText="Action">
							<p:commandButton icon="ui-icon-pencil" update=":form:formGrid"
								oncomplete="ticketClassDialog.show()">
								<f:setPropertyActionListener value="#{ticket}"
									target="#{ticketClassBean.selectedTicketClass}" />
							</p:commandButton>
							<p:commandButton icon="ui-icon-trash" update=":form:formGrid"
								oncomplete="deleteDialog.show()">
								<f:setPropertyActionListener value="#{ticket}"
									target="#{ticketClassBean.selectedTicketClass}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</p:panel>
				<p:panel>
					<p:commandLink value="#{messages.label_create}"
						actionListener="#{ticketClassBean.create}"
						oncomplete="ticketClassDialog.show()" update=":ticketClassEditor" />
				</p:panel>
			</h:form>
			<p:dialog id="ticketClassEditor" widgetVar="ticketClassDialog"
				modal="true" header="Ticket Class Editor" visible="false">
				<p:ajax event="close" update=":dataForm:data"
					listener="#{ticketClassBean.onClose}" />
				<p:outputPanel id="editorPanel">
					<h:form id="form" enctype="multipart/form-data">
						<h:panelGrid columns="3" id="formGrid">
							<h:outputLabel for="codeInput" value="Code * :" />
							<h:inputText id="codeInput" required="true"
								value="#{ticketClassBean.selectedTicketClass.code}" />
							<p:message for="codeInput" display="icon" />

							<h:outputLabel for="descInput" value="Description *:" />
							<h:inputText id="descInput" required="true"
								value="#{ticketClassBean.selectedTicketClass.description}" />
							<p:message for="descInput" display="icon" />

						</h:panelGrid>
						<p:commandButton id="btnSave" value="#{messages.label_save}"
							actionListener="#{ticketClassBean.persist}"
							update="formGrid :dataForm:data :growlForm:growl" />
						<p:commandButton id="btnClose" value="#{messages.label_close}"
							onclick="ticketClassDialog.hide()" type="button" />
					</h:form>
				</p:outputPanel>
			</p:dialog>
			<p:confirmDialog id="deleteEditor" widgetVar="deleteDialog"
				message="#{messages.label_delete_record}"
				header="#{messages.label_confirm_delete}">
				<p:outputPanel id="deletePanel">
					<h:form id="deleteForm">
						<p:commandButton id="deleteYesButton"
							value="#{messages.label_yes}" action="#{ticketClassBean.delete}"
							update=":dataForm:data :growlForm:growl"
							oncomplete="deleteDialog.hide()" />
						<p:commandButton id="deleteNoButton" value="#{messages.label_no}"
							onclick="deleteDialog.hide()" update=":ticketClassEditor" />
					</h:form>
				</p:outputPanel>
			</p:confirmDialog>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>
